.product_container {
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 20px 20px 60px #808080, -20px -20px 60px #ffffff;
  height: 250px;
  margin-right: 40px;
  margin-bottom: 10%;
  justify-content: space-evenly;
  width: 200px;
}

.Products {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
