.App {
  font-family: sans-serif;
  text-align: center;
  width: 100vw;
}

.App {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.select_dropdown {
  width: 300px;
}
